body {
    font-family: $primaryFont;
    color: white;
    letter-spacing: .3rem;
}

h1,
h2 {
    margin: 0;
}

h2 {
    @include fontSize(60);
    border-bottom: 2px solid $logoColor;
}

p {
    @include fontSize(40);
    line-height: 3.5rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $textColor;
    text-shadow: 1px 1px 0 $logoColor;
    transition: 0.3s;
    @include fontSize(30);
    font-weight: bold;
    letter-spacing: .4rem;

    &:hover,
    &:focus {
        color: $logoColor;
        text-shadow: 1px 1px 0 $textColor;
    }
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
}

button {
    border: 2px solid $logoColor;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-family: $primaryFont;
    padding: 10px 60px;
    letter-spacing: .3rem;
    transition: .3s;
}

button:hover:disabled {
    opacity: .5;
    cursor: not-allowed;
}

button:hover:enabled {
    cursor: url(../assets/party-cursor.png), pointer;
    color: $logoColor;
}

html {
    scroll-behavior: smooth;
}