body {
    font-family: $primaryFont;
}

h1,
h2 {
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $textColor;
    text-shadow: 1px 1px 0 $logoColor;
    transition: 0.3s;
    @include fontSize(30);
    font-weight: bold;
    letter-spacing: .4rem;

    &:hover,
    &focus {
        color: $logoColor;
        text-shadow: 1px 1px 0 $textColor;
    }
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
}