header {
    background-image: url(../assets/header-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    img {
        height: 50vh;
        margin-bottom: 100px;
    }
}