header {
    background-image: url(../assets/header-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .headerContentContainer {
        margin-top: 60px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            align-self: flex-end;
            z-index: 1;

            img {
                height: 10vh;
                margin-right: 20px;
            }
        }

        h1 {
            font-family: $logoFont;
            @include fontSize(110);
            padding-top: 90px;
            position: absolute;
            color: $logoColor;
            text-shadow: 8px 8px 0 $textColor;
            transition: 0.3s;
            z-index: 1;
            cursor: pointer;

            &:hover {
                color: $textColor;
                text-shadow: 8px 8px 0 $logoColor;
            }
        }


    }

    .headerImgContainer {
        .overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 0;
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 31%);
            display: flex;
            align-items: flex-end;
        }

        img {
            height: 50vh;
            margin-top: 90px;
        }
    }
}