.navBar {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;

    .desktopNav {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        text-transform: uppercase;
    }
}