.terms-main {
    height: 100%;

    .wrapper {
        width: 90%;
        display: block;
        background-color: rgba(56, 55, 55, 0.8);
    }

    .terms {
        margin-top: 40px;

        h2 {
            border-color: $contactColor;
            text-align: center;
        }

        p {
            padding-bottom: 30px;
        }

        .guildMaster {
            color: $contactColor;
        }

        .formspree {
            color: $contactColor;
            text-shadow: none;
            @include fontSize(35);

            &:hover,
            &:focus {
                color: white;
                outline: double;
                outline-color: rgba(255, 255, 255, .8);
                outline-width: .5rem;
                padding: 0 10px;
            }
        }
    }
}