@font-face {
    font-family: "Dream";
    src: url(../fonts/dream.otf), url(../fonts/dream-italic.otf), url(../fonts/dream-bold.otf), url(../fonts/dream-bold-italic.otf);
    font-weight: normal;
}

@font-face {
    font-family: "Ninja Naruto";
    src: url(../fonts/njnaruto.ttf);
    font-weight: normal;
}