html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skipLink {
  background-color: #FFF;
  color: #000;
  font-size: 1rem;
  padding: 10px 0;
  position: absolute;
  left: -1000px;
  top: 0;
  z-index: 999;
}
.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
}

@font-face {
  font-family: "Dream";
  src: url(../fonts/dream.otf), url(../fonts/dream-italic.otf), url(../fonts/dream-bold.otf), url(../fonts/dream-bold-italic.otf);
  font-weight: normal;
}
@font-face {
  font-family: "Ninja Naruto";
  src: url(../fonts/njnaruto.ttf);
  font-weight: normal;
}
body {
  font-family: "Dream";
  color: white;
  letter-spacing: 0.3rem;
}

h1,
h2 {
  margin: 0;
}

h2 {
  font-size: 60px;
  font-size: 3rem;
  border-bottom: 2px solid #fd3b23;
}

p {
  font-size: 40px;
  font-size: 2rem;
  line-height: 3.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: navy;
  text-shadow: 1px 1px 0 #fd3b23;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 30px;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.4rem;
}
a:hover, a:focus {
  color: #fd3b23;
  text-shadow: 1px 1px 0 navy;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

button {
  border: 2px solid #fd3b23;
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-family: "Dream";
  padding: 10px 60px;
  letter-spacing: 0.3rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

button:hover:disabled,
button:focus:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button:hover:enabled {
  cursor: url(../assets/party-cursor.png), pointer;
  color: #fd3b23;
}

html {
  scroll-behavior: smooth;
}

.navBar {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}
.navBar .desktopNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  text-transform: uppercase;
}

header {
  background-image: url(../assets/header-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .headerContentContainer {
  margin-top: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .headerContentContainer a {
  -ms-flex-item-align: end;
      align-self: flex-end;
  z-index: 1;
}
header .headerContentContainer a img {
  height: 10vh;
  margin-right: 20px;
}
header .headerContentContainer h1 {
  font-family: "Ninja Naruto";
  font-size: 110px;
  font-size: 5.5rem;
  padding-top: 90px;
  position: absolute;
  color: #fd3b23;
  text-shadow: 8px 8px 0 navy;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
  cursor: pointer;
}
header .headerContentContainer h1:hover {
  color: navy;
  text-shadow: 8px 8px 0 #fd3b23;
}
header .headerImgContainer .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(0, 0, 0)), color-stop(31%, rgba(0, 0, 0, 0)));
  background-image: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 31%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
header .headerImgContainer img {
  height: 50vh;
  margin-top: 90px;
}

main {
  background-image: url(../assets/black-background.png);
  background-size: cover;
  background-position: center;
  padding: 100px 0 50px;
}
main h2 {
  padding: 30px 30px 30px 30px;
}
main p {
  padding: 0 30px 0 30px;
}
main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
main .about span.logo {
  font-family: "Ninja Naruto";
  color: #fd3b23;
  text-shadow: 3px 3px 0 navy;
}
main .about span.discordAdmin,
main .about span.guildMaster {
  color: #fd3b23;
}
main .about,
main .guildCheckList {
  background-color: rgba(63, 63, 63, 0.9);
}
main .guildCheckList {
  margin-top: 50px;
}
main .guildCheckList form {
  margin-top: 30px;
  margin-bottom: 30px;
}
main .guildCheckList form fieldset {
  font-size: 30px;
  font-size: 1.5rem;
  margin: 0 30px;
  padding: 30px;
  border: 1px solid #fd3b23;
}
main .guildCheckList form fieldset .requirementsContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
}
main .guildCheckList form fieldset label {
  display: inline-block;
  padding: 10px 0 5px 10px;
}
main .guildCheckList form fieldset div:last-child {
  margin-top: 50px;
  text-align: center;
}

.contactBar {
  background-color: rgba(0, 0, 0, 0);
}
.contactBar a {
  color: white;
  text-shadow: none;
}
.contactBar a:hover, .contactBar a:focus {
  color: #D41A2D;
}

.contact-background {
  background-image: url(../assets/contact-us-bkg.jpg);
  height: 100vh;
}
.contact-background .wrapper {
  width: 30%;
}
.contact-background form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact-background form input,
.contact-background form select,
.contact-background form textarea,
.contact-background form fieldset,
.contact-background form button {
  margin: 10px 0;
  background-color: black;
  border: 2px solid #D41A2D;
}
.contact-background form button:hover:enabled,
.contact-background form button:focus:enabled {
  color: #D41A2D;
}
.contact-background form textarea {
  resize: none;
}
.contact-background form textarea:hover:disabled, .contact-background form textarea:focus:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
.contact-background form input[type=text]:focus,
.contact-background form textarea:focus {
  outline-style: double;
  outline-color: rgba(255, 255, 255, 0.8);
  outline-width: 0.5rem;
}
.contact-background form input,
.contact-background form select,
.contact-background form textarea {
  padding: 10px 10px;
  font-family: inherit;
  letter-spacing: 0.3rem;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contact-background form fieldset .terms {
  color: #D41A2D;
  text-shadow: none;
  font-size: 25px;
  font-size: 1.25rem;
}
.contact-background form fieldset .terms:hover, .contact-background form fieldset .termsfocus {
  color: white;
}